<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="row justify-content-center">
    <div class="container col-5" style="text-align:center">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <h1>JOIN</h1>
        <br/>
        <form role="form" action="/members/new" th:object="${memberForm}" method="post">

            <div class="form-floating mb-3">
                <input type="text" th:field="*{email}" class="form-control"
                       placeholder="E-MAIL을 입력하세요"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}">Incorrect date</p>
                <label>Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" th:field="*{password}" class="form-control"
                       placeholder="PASSWORD를 입력하세요"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">Incorrect date</p>
                <label>Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" th:field="*{username}" class="form-control"
                       placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('username')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('username')}"
                   th:errors="*{name}">Incorrect date</p>
                <label>Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" th:field="*{city}" class="form-control" placeholder="도시를 입력하세요">
                <label>City</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" th:field="*{street}" class="form-control" placeholder="거리를 입력하세요">
                <label>Street</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
                <label>Zipcode</label>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-secondary">회원가입</button>
            </div>
        </form>

        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</div>
</body>
</html>