<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container col-5" style="text-align:center">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <H1>ORDER LIST</H1>
    <br/>
    <div>
        <div >
            <form th:object="${orderSearch}" class="row g-3">
                <div class="form-floating mb-3 col-sm-5">
                    <input type="text" th:field="*{memberName}" class="form-control" placeholder="회원명"/>
                    <label>회원명</label>
                </div>

                <div class="form-floating col-sm-5">
                    <select th:field="*{orderStatus}" class="form-select" id="floatingSelect">
                        <option value="">NONE</option>
                        <option th:each="status : ${T(jpabook.jpashop.domain.OrderStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                    <label for="floatingSelect">주문 상태</label>
                </div>

                <button type="submit" class="btn btn-secondary mb-3 col-sm-2">검색</button>
            </form>
        </div>
        <hr/>

        <table class="table">
            <thead>
            <tr class="table-secondary">
                <th>#</th>
                <th>회원명</th>
                <th>상품 이름</th>
                <th>주문가격</th>
                <th>주문수량</th>
                <th>상태</th>
                <th>일시</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="order : ${orders}">
                <tr th:each="orderItem : ${order.orderItems}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.member.username}"></td>
                    <td th:text="${orderItem.item.name}"></td>
                    <td th:text="${orderItem.orderPrice}"></td>
                    <td th:text="${orderItem.count}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td>
                        <a th:if="${order.status.name() == 'ORDER'}" href="#"
                           th:href="'javascript:cancel('+${order.id}+')'"
                           class="btn btn-outline-danger btn-sm">CC</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/orders/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }
</script>
</html>