<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div style="text-align: center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>이름</th>
        <th>도시</th>
        <th>주소</th>
        <th>우편번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.username}"></td>
        <td th:text="${member.city}"></td>
        <td th:text="${member.street}"></td>
        <td th:text="${member.zipcode}"></td>
      </tr>
      </tbody>
    </table>

    <div class="btn-group me-2" role="group" aria-label="First group">
      <th:block th:each = "i : ${#numbers.sequence(1,members.totalPages)}">
        <a type="button" class="btn btn-outline-secondary" th:text="${i}" th:href="@{members(page=${i-1})}"></a>
      </th:block>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>