<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container col-5">
  <h1></h1>
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          # ALBUM
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form th:action="@{/items/new/album}" th:object="${albumForm}" method="post">

            <div class="form-floating mb-3">
              <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
              <label>상품명</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
              <label>가격</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요">
              <label>수량</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{artist}" class="form-control" placeholder="아티스트를 입력하세요">
              <label>아티스트</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{etc}" class="form-control" placeholder="기타 정보를 입력하세요">
              <label>ETC</label>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary" type="submit">상품 등록</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          # BOOK
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form th:action="@{/items/new/book}" th:object="${bookForm}" method="post">

            <div class="form-floating mb-3">
              <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
              <label>상품명</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
              <label>가격</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요">
              <label>수량</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{author}" class="form-control" placeholder="저자를 입력하세요">
              <label>저자</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{isbn}" class="form-control" placeholder="ISBN을 입력하세요">
              <label>ISBN</label>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary" type="submit">상품 등록</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          # MOVIE
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form th:action="@{/items/new/movie}" th:object="${movieForm}" method="post">

            <div class="form-floating mb-3">
              <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
              <label>상품명</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
              <label>가격</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요">
              <label>수량</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{director}" class="form-control" placeholder="감독 입력하세요">
              <label>감독</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" th:field="*{actor}" class="form-control" placeholder="배우를 입력하세요">
              <label>배우</label>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary" type="submit">상품 등록</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>