<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container col-5" style="text-align:center">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <H1><ITEM></ITEM> INFORMATION</H1>
    <br/>

    <span class="d-block p-2 text-bg-dark fs-2" th:text="${item.dtype}" style="text-align:left"></span>
    <br/>

    <div class="container text-center">
        <form th:object="${form}" method="post">
            <div class="row">

                <!-- image -->
                <div class="col-6" style="display:flex">
                    <img th:if="${item.dtype == 'ALBUM'}" src="../resources/img/album.jpeg" alt="ALBUM">
                    <img th:if="${item.dtype == 'BOOK'}" src="../resources/img/book.jpeg" alt="BOOK">
                    <img th:if="${item.dtype == 'MOVIE'}" src="../resources/img/movie.jpeg" alt="MOVIE">
                </div>

                <!-- item info -->
                <div class="col-6" style="text-align:left">
                    <b class="fs-5">PRODUCT INFO</b>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <p>상품명</p>
                            <p>상품 가격</p>
                            <p>남은 수량</p>
                            <div th:if="${item.dtype == 'ALBUM'}">
                                <p>아티스트</p>
                                <p>ETC</p>
                            </div>
                            <div th:if="${item.dtype == 'BOOK'}">
                                <p>저자</p>
                                <p>ISBN</p>
                            </div>
                            <div th:if="${item.dtype == 'MOVIE'}">
                                <p>감독</p>
                                <p>배우</p>
                            </div>
                            <p>주문 수량</p>

                        </div>
                        <div class="col-6">
                            <p class="fw-bold" th:text="${item.name}"></p>
                            <p class="fw-bold" th:text="${item.price}"></p>
                            <p class="fw-bold" th:text="${item.stockQuantity}"></p>
                            <div th:if="${item.dtype == 'ALBUM'}">
                                <p class="fw-bold" th:text="${item.artist}">아티스트</p>
                                <p class="fw-bold" th:text="${item.etc}">ETC</p>
                            </div>
                            <div th:if="${item.dtype == 'BOOK'}">
                                <p class="fw-bold" th:text="${item.author}">저자</p>
                                <p class="fw-bold" th:text="${item.isbn}">ISBN</p>
                            </div>
                            <div th:if="${item.dtype == 'MOVIE'}">
                                <p class="fw-bold" th:text="${item.director}">감독</p>
                                <p class="fw-bold" th:text="${item.actor}">배우</p>
                            </div>
                            <input type="hidden" name="itemId" id="itemId" class="form-control" th:value="${item.id}"/>
                            <div class="input-group input-group-sm mb-3">
                                <input type="number" name="count" id="count" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
            <!-- order button / cart button -->
            <div class="row">
                <div class="col-6 d-grid gap-2">
                    <button class="btn btn-outline-secondary" type="submit" formaction="/order">주문하기</button>
                </div>
                <div class="col-6 d-grid gap-2">
                    <button class="btn btn-outline-secondary" type="submit" formaction="/addItem">장바구니에 담기</button>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>

