<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container col-5" style="text-align:center">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <H1>ITEM LIST</H1>
  <br/>

  <div>
    <div >
      <form th:object="${itemSearch}" class="row g-3">
        <div class="form-floating mb-3 col-sm-5">
          <input type="text" th:field="*{itemName}" class="form-control" placeholder="상품명"/>
          <label>상품명</label>
        </div>

        <div class="form-floating col-sm-5">
          <select th:field="*{itemType}" class="form-select" id="floatingSelect">
            <option value="">NONE</option>
            <option th:each="type : ${T(jpabook.jpashop.domain.ItemType).values()}"
                    th:value="${type}"
                    th:text="${type}">option
            </option>
          </select>
          <label for="floatingSelect">주문 상태</label>
        </div>

        <button type="submit" class="btn btn-secondary mb-3 col-sm-2">검색</button>
      </form>
    </div>
    <hr/>


    <!-- 아이템 목록 -->
    <div style="height : 30em">
      <!-- 1행 -->
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <th:block th:each="item : ${items}">
          <div class="col">
            <a class="card" style="height : 13em" th:href="@{/item/info(id=${item.id})}">

              <span style="height:60%">
                <img th:if="${item.dtype == 'ALBUM'}" src="resources/img/album.jpeg" class="card-img-top">
                <img th:if="${item.dtype == 'BOOK'}" src="resources/img/book.jpeg" class="card-img-top">
                <img th:if="${item.dtype == 'MOVIE'}" src="resources/img/movie.jpeg" class="card-img-top">
              </span>

              <div class="card-body">
                <b class="card-text" th:text="${item.dtype}">아이템 타입</b>
                <p class="card-title" th:text="${item.name}">Card title</p>
              </div>
            </a>
          </div>
        </th:block>
      </div>
    </div>

    <br/>

    <!-- 페이지 번호 -->
    <div class="btn-group me-2" role="group" aria-label="First group">
      <th:block th:each = "i : ${#numbers.sequence(1,items.totalPages)}">
        <a type="button" class="btn btn-outline-secondary" th:text="${i}" th:href="@{items(page=${i-1}, itemName=${itemSearch.itemName}, itemType=${itemSearch.itemType})}"></a>
      </th:block>
    </div>


    <div th:replace="fragments/footer :: footer"/>
  </div> <!-- /container -->
</div>
</body>
</html>