<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container  col-5" style="text-align:center">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <H1>SHOPPING CART</H1>
  <br/>
  <form th:action="@{/cartItem/order}" th:object="${form}" method="post">
    <table class="table">
      <thead>
      <tr class="table-secondary">
        <th class="col-1"></th>
        <th class="col-3">상품명</th>
        <th class="col-1">개수</th>
        <th class="col-3">가격</th>
        <th class="col-3">date</th>
        <th class="col-1"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
        <!-- check box -->
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" th:name="cartItemIds" th:value="${item.id}">
          </div>
        </td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.count}"></td>
        <td th:text="${item.totalPrice}"></td>
        <td th:text="${item.date}"></td>
        <td>
          <a th:href="'javascript:cancel('+${item.id}+')'"
             class="btn btn-outline-danger btn-sm">CC</a>
        </td>
      </tr>
      </tbody>
    </table>
    <br/>

    <!-- 주문하기 button -->
    <div class="d-grid gap-2">
      <button class="btn btn-outline-secondary" type="submit">주문하기</button>
    </div>
  </form>

<!--  <div class="btn-group me-2" role="group" aria-label="First group" th:if="${items.totalPages != 0}">-->
<!--    <th:block th:each = "i : ${#numbers.sequence(1,items.totalPages)}">-->
<!--      <a type="button" class="btn btn-outline-secondary" th:text="${i}" th:href="@{cartItems(page=${i-1})}"></a>-->
<!--    </th:block>-->
<!--  </div>-->

  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/cartItem/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }
</script>
</html>